* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

body {
  --ag-row-hover-color: #E2F5FF;
}

#root {
  width: 100vw;
  height: 100vh;
  padding: 1.5rem;
}

.logo {
  height: 2.5rem;
}

.chakra-button:is([data-scope="pagination"]):hover {
  background-color: #E2F5FF;
  border: none;
  color: #1C1D1E;
}