.sidebarEmail {
    position: relative;
    flex-direction: column;
    gap: 0.375rem !important;
    font-weight: 400;
    color: #7B7B7B;
    background-color: #FFFFFF;
    border-radius: 0.375rem;
    padding: 0.75rem 1rem;
    line-height: 1.375rem;
    transition: all 0.2s ease-in-out;
}

.sidebarEmail p {
    font-size: 0.875rem;
    color: #3182CE;
}

.sidebarEmail:hover {
    background-color: #E2F5FF;
    color: #1C1D1E;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.sidebarEmail.selected {
    background-color: #E2F5FF;
    height: auto;
    transition: all 0.2s ease-in-out;
}

.sidebarEmail.selected .sidebarEmailContent p {
    color: #1C1D1E;
}

.sidebarEmailContent {
    flex-direction: column;
    gap: 0 !important;
}

.sidebarEmailContent p {
    color: #7B7B7B;
}

.sidebarEmailText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.375rem;
    height: 1.375rem;
    padding-right: 0.5rem;
    transition: all 0.2s ease-in-out;
}

.sidebarEmail.selected .sidebarEmailText {
    white-space: normal;
    height: 2.75rem;
    transition: all 0.2s ease-in-out;
}

.sidebarEmailTheme {
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

.sidebarEmail:hover .sidebarEmailTheme {
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

.sidebarEmail.selected .sidebarEmailTheme {
    font-weight: 700;
}

.sidebarEmailTime {
    transition: all 0.2s ease-in-out;
}

.sidebarEmail:hover .sidebarEmailTime {
    color: #3182CE;
    transition: all 0.2s ease-in-out;
}

.sidebarEmail.selected .sidebarEmailTime {
    color: #3182CE;
    transition: all 0.2s ease-in-out;
}

.moreIcon {
    font-size: 1.5rem;
    color: #1C1D1E;
}

.clipIcon {
    transform: rotate(45deg);
    font-size: 1.25rem;
    transition: all 0.2s ease-in-out;
}

.sidebarEmail:hover .clipIcon {
    color: #3182CE;
    transition: all 0.2s ease-in-out;
}

@container sidebar (width) {
    
}